@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:100,300,400,700,900&display=swap");
body {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: #242424;
  line-height: 1.2; }
  @media screen and (max-width: 992px) {
    body {
      font-size: 16px; } }

.container {
  padding-left: 70px;
  padding-right: 70px; }

a:hover {
  color: #90d23d; }

button {
  background-color: #90d23d;
  border-radius: 15px;
  width: 200px;
  height: 55px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.2; }

h2 {
  font-family: "Roboto Black", sans-serif;
  font-size: 50px;
  color: #000000;
  line-height: 1.2; }

h3 {
  font-family: "Roboto Black", sans-serif;
  font-size: 30px;
  color: #000000;
  line-height: 1.2; }

p {
  line-height: 1.2;
  margin-top: 17px; }

.p90 p {
  max-width: 90%; }

.pCenter {
  text-align: center; }

.leaflet-popup-content {
  background-color: #4a454b;
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  padding: 15px;
  border-radius: 12px; }

.leaflet-popup-tip, .leaflet-popup-content-wrapper {
  background-color: #4a454b; }

form input,
form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #bebebe;
  line-height: 1.2;
  border-style: solid;
  border-width: 1px;
  border-color: #bebebe;
  border-radius: 5px;
  color: #bebebe;
  margin-bottom: 19px;
  width: 100%;
  height: 53px;
  padding: 8px 12px 0; }
  form input:focus,
  form textarea:focus {
    color: #6c6c6c;
    border-color: #90d23d;
    border-width: 2px; }

header {
  width: 100%;
  height: 770px;
  background: #4a454b;
  padding-top: 45px; }
  header .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  header .timeTable {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 972px; }
  header .navSmall {
    display: none;
    position: relative; }
  header #img_logo {
    margin-left: 2px;
    z-index: 999; }
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6px; }
    header nav a {
      text-transform: uppercase;
      font-family: "Roboto Thin", sans-serif;
      font-size: 15px;
      color: #ffffff;
      line-height: 1.2; }
      header nav a:last-child {
        margin-right: 0px; }
  header #time_for_event {
    border: 2px solid #90d23d;
    border-radius: 18px;
    margin-top: 118px;
    font-family: "Roboto Thin", sans-serif;
    font-size: 130px;
    color: #ffffff;
    line-height: 1.2;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 9%;
    visibility: hidden;
    height: 199px;
    position: relative; }
    header #time_for_event #time_today {
      left: 3px; }
      header #time_for_event #time_today .time_words {
        right: 3px; }
    header #time_for_event #time_thour {
      left: 2px; }
      header #time_for_event #time_thour .time_words {
        left: 3px; }
    header #time_for_event #time_tmin {
      left: 2px; }
      header #time_for_event #time_tmin .time_words {
        left: 8px; }
    header #time_for_event #time_tsec {
      left: 1px; }
      header #time_for_event #time_tsec .time_words {
        left: 5px; }
    header #time_for_event .time_words {
      font-family: "Roboto Slab", sans-serif;
      font-size: 25px;
      color: #ffffff;
      line-height: 1.2;
      top: 10px;
      position: relative; }
  header .icon-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  header .icon_event {
    -webkit-transform: rotate(355deg);
            transform: rotate(355deg);
    -webkit-transform-origin: 0;
            transform-origin: 0;
    position: relative;
    bottom: -20px;
    right: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .icon_event img {
      position: relative; }
    header .icon_event .icon1 {
      left: -47px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 5;
      bottom: -16px; }
    header .icon_event .icon2 {
      left: -98px;
      -webkit-transform: rotate(363deg);
              transform: rotate(363deg);
      z-index: 4;
      bottom: -8px; }
    header .icon_event .icon3 {
      left: -141px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 3; }
    header .icon_event .icon4 {
      left: -170px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 2; }
    header .icon_event .icon5 {
      left: -204px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 1; }

.bgGrey,
.bgWhite {
  position: relative;
  width: 100%;
  min-height: 100px; }

.bgGrey {
  background: #4a454b;
  padding-top: 46px;
  padding-bottom: 174px; }

.bgWhite {
  background: #ffffff;
  z-index: 1;
  padding-top: 46px; }
  .bgWhite::after, .bgWhite::before {
    background: inherit;
    bottom: 0;
    top: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
    z-index: -1;
    padding-bottom: 120px; }
  .bgWhite::after {
    -webkit-transform-origin: left top;
            transform-origin: left top; }
  .bgWhite::before {
    -webkit-transform-origin: right top;
            transform-origin: right top; }

#signEvent {
  max-width: 431px;
  height: 530px;
  position: absolute;
  bottom: 15px;
  left: -2px;
  background-color: #ffffff;
  border: 1px solid #949293;
  text-align: center;
  margin-left: 0;
  /* vertical-align: middle; */
  -webkit-box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
          box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65); }
  #signEvent input,
  #signEvent button {
    position: static;
    width: 87%;
    display: inline-block;
    margin: 0px 15px 22px 15px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  #signEvent button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #000000;
    line-height: 1.2; }
  #signEvent h3 {
    margin-top: 27px;
    margin-bottom: 15px; }
  #signEvent p {
    margin-top: -2px;
    margin-left: 3px;
    font-size: 15px; }

.invalid {
  text-transform: none;
  background-color: rgba(236, 169, 169, 0.637);
  color: #000000; }

.description {
  margin-top: 125px;
  margin-bottom: 83px;
  padding-right: 13px;
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card_description {
  text-align: center;
  width: 302px;
  max-width: 302px;
  padding-left: 0px;
  padding-right: 0px; }
  .card_description:nth-child(2) {
    position: relative;
    left: 19px; }
  .card_description:last-child {
    position: relative;
    left: 2px; }
  .card_description h2 {
    font-size: 35px;
    margin-top: 31px; }
  .card_description .descriptionImg {
    height: 211px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

#eventDetails table {
  width: 100%;
  position: relative;
  border-radius: 15px;
  left: 2px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.2;
  background-color: #4b4d4f;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 22px; }
  #eventDetails table .tbldDark {
    background-color: #373737; }
  #eventDetails table tr {
    height: 75px; }
  #eventDetails table tbody td {
    vertical-align: inherit; }
    #eventDetails table tbody td:first-child {
      padding-left: 46px;
      width: 298px; }
    #eventDetails table tbody td:last-child {
      font-size: 19px;
      padding-right: 32px; }
  #eventDetails table tbody tr:nth-child(even) td {
    padding: 20px; }
  #eventDetails table thead {
    background-color: #a3cc40;
    border-spacing: 0;
    border-radius: 15px 15px 0 0;
    font-family: "Roboto Black", sans-serif;
    font-size: 30px;
    color: #ffffff;
    line-height: 1.2; }
    #eventDetails table thead th {
      vertical-align: inherit; }
      #eventDetails table thead th:first-child {
        border-radius: 15px 0 0 0;
        padding-left: 79px; }
      #eventDetails table thead th:last-child {
        border-radius: 0 15px 0 0; }
#eventDetails .pCenter {
  padding-left: 10px;
  padding-right: 10px; }
#eventDetails .blockEnd {
  height: 144px;
  display: block; }

.elite {
  text-align: right;
  color: #ffffff; }
  .elite img {
    position: relative;
    display: block;
    z-index: 1;
    bottom: 121px;
    right: 4px; }
  .elite h2 {
    margin-top: 120px;
    margin-bottom: 24px;
    text-align: right;
    color: #ffffff;
    margin-right: -6px; }
  .elite p {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 1.4em;
            margin-block-end: 1.4em;
    padding-left: 11px;
    padding-right: 3px; }
  .elite button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 19px;
    position: relative;
    left: 3px; }

#speakers h2 {
  padding: 92px 30px 0px 30px; }
#speakers p {
  padding-left: 33px;
  max-width: 605px; }
#speakers .speakersBlock {
  left: 2px;
  top: 23px;
  position: relative; }
#speakers .logoSpeakersV, #speakers .logoSpeakers {
  margin: 21px;
  width: 296px;
  height: 296px;
  min-width: 255px;
  max-width: 296px;
  border-radius: 15px; }
#speakers .logoSpeakersImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
#speakers .logoSpeakersV img {
  text-align: center;
  padding: 31px 28px 32px 29px; }
#speakers .logoSpeakersText {
  display: none; }
#speakers .logoSpeakers:hover {
  -webkit-transition-duration: 1.1s;
          transition-duration: 1.1s;
  background-color: #90d23d; }
  #speakers .logoSpeakers:hover .logoSpeakersText {
    padding-left: 16px;
    padding-top: 31px;
    grid-gap: 9px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85px 10px 85px 34px; }
  #speakers .logoSpeakers:hover .nameSpeakers {
    font-family: "Roboto Black", sans-serif;
    font-size: 45px;
    color: #ffffff;
    line-height: 1.2;
    line-height: 0.956;
    grid-row: 1; }
  #speakers .logoSpeakers:hover .textSpeakers {
    font-family: "Roboto Medium", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.2;
    grid-row: 3;
    overflow: hidden; }
  #speakers .logoSpeakers:hover hr {
    width: 85px;
    border-top: 6px solid #ffffff;
    margin: 0 0;
    grid-row: 2; }
  #speakers .logoSpeakers:hover .socIcons {
    font-size: 17px;
    grid-row: 4; }
  #speakers .logoSpeakers:hover .logoSpeakersImg {
    display: none; }
#speakers .blockEnd {
  height: 181px;
  display: block; }

#sponsors {
  text-align: center; }
  #sponsors h1 {
    margin-top: 115px;
    font-family: "Roboto Black", sans-serif;
    font-size: 50px;
    color: #ffffff;
    line-height: 1.2; }
  #sponsors p {
    margin-top: 22px;
    color: #ffffff; }
  #sponsors .sponsorsImg {
    position: relative;
    margin-top: 35px; }
    #sponsors .sponsorsImg div:first-child {
      left: 41px; }
    #sponsors .sponsorsImg div:last-child {
      right: 57px;
      top: 4px; }
  #sponsors button {
    margin-top: 65px; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

#pastEvents .bgWhite {
  margin-top: -50px; }
#pastEvents .bgWhite::before {
  display: none; }
#pastEvents .container h3 {
  font-family: "Roboto Black", sans-serif;
  font-size: 50px;
  color: #242424;
  line-height: 1.2; }
#pastEvents .container .pastEventsText {
  margin-left: 14px;
  padding-left: 70px;
  margin-top: 60px; }
  #pastEvents .container .pastEventsText div:last-child {
    max-width: 61%; }
  #pastEvents .container .pastEventsText p {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    color: #242424;
    line-height: 1.2; }
#pastEvents .container #pastEventsImg {
  margin-top: 85px;
  width: 100%;
  overflow: hidden; }
  #pastEvents .container #pastEventsImg img {
    -o-object-fit: cover;
       object-fit: cover; }
  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2 {
    height: 416px; }
  #pastEvents .container #pastEventsImg .pastEventsImgN1 {
    width: 51.28%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN2 {
    width: 48.72%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    height: 366px; }
  #pastEvents .container #pastEventsImg .pastEventsImgN3 {
    width: 42.74%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    width: 57.26%; }
  #pastEvents .container #pastEventsImg:after {
    content: "";
    display: block;
    clear: both;
    height: 99px; }
  #pastEvents .container #pastEventsImg #backPop {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 100;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  #pastEvents .container #pastEventsImg #popUp {
    position: relative;
    width: 70%;
    height: 100%; }
  #pastEvents .container #pastEventsImg #bigImg {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  #pastEvents .container #pastEventsImg #inRight, #pastEvents .container #pastEventsImg #inLeft {
    right: 0;
    width: 50%;
    top: 0;
    bottom: 0;
    position: absolute; }
    #pastEvents .container #pastEventsImg #inRight i, #pastEvents .container #pastEventsImg #inLeft i {
      position: absolute;
      font-size: 4vw;
      color: #90d23d;
      top: 50%;
      right: -5vw; }
  #pastEvents .container #pastEventsImg #inLeft {
    left: 0; }
    #pastEvents .container #pastEventsImg #inLeft i {
      left: -5vw; }
  #pastEvents .container #pastEventsImg .fadeIn {
    -webkit-animation: fadeIn  0.3s 1 ease-in;
            animation: fadeIn  0.3s 1 ease-in;
    opacity: 1 !important; }
  #pastEvents .container #pastEventsImg .fadeOut {
    -webkit-animation: fadeOut  0.3s 1 ease-in;
            animation: fadeOut  0.3s 1 ease-in;
    opacity: 0 !important; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.6; }
  70% {
    opacity: 0.7; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.9; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.6; }
  70% {
    opacity: 0.7; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.9; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  10% {
    opacity: 0.9; }
  20% {
    opacity: 0.8; }
  30% {
    opacity: 0.7; }
  40% {
    opacity: 0.6; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.4; }
  70% {
    opacity: 0.3; }
  80% {
    opacity: 0.2; }
  90% {
    opacity: 0.1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  10% {
    opacity: 0.9; }
  20% {
    opacity: 0.8; }
  30% {
    opacity: 0.7; }
  40% {
    opacity: 0.6; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.4; }
  70% {
    opacity: 0.3; }
  80% {
    opacity: 0.2; }
  90% {
    opacity: 0.1; }
  100% {
    opacity: 0; } }
#pastEvents button {
  margin: 0 auto;
  background-color: #373737;
  display: block; }

#contact {
  position: relative;
  z-index: 0;
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #contact #map {
    width: 100%;
    position: relative;
    height: 660px;
    z-index: 0; }
  #contact #showContact {
    position: absolute;
    right: 0;
    top: 0; }
  #contact #contactDetails {
    z-index: 2;
    min-height: 530px;
    max-width: 970px;
    width: 80%;
    position: absolute;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto 48%;
    gap: 94px;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #contact #contactDetails .adres {
      text-align: center;
      height: 336px;
      grid-column: 1; }
      #contact #contactDetails .adres p {
        margin-top: 43px;
        margin-bottom: 28px;
        padding: 0 20px;
        min-width: 267px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #454444;
        line-height: 1.2; }
      #contact #contactDetails .adres button {
        margin-left: 9px; }
    #contact #contactDetails form {
      grid-column: 2;
      margin-top: 8px; }
      #contact #contactDetails form #inputKonatktEmail {
        padding: 0px 17px 0;
        width: 100%; }
      #contact #contactDetails form #inputKontaktText {
        padding: 13px 20px 0;
        margin-top: 10px;
        height: 250px;
        width: 100%; }
      #contact #contactDetails form button {
        width: 100%;
        height: 60px;
        border-radius: 5px;
        background-color: #373737;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        color: #ffffff;
        line-height: 1.2; }

footer {
  background-color: #90d23d;
  height: 224px;
  margin-top: -4px;
  text-align: center; }
  footer .container {
    position: relative; }
  footer .socIcons {
    margin-top: 53px; }
    footer .socIcons span {
      font-size: 27px;
      margin: 1px; }
  footer p {
    margin-top: 29px;
    margin-left: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.2; }

span i:first-child {
  color: white; }
span i:last-child {
  color: #90d23d; }

.goUp {
  position: absolute;
  right: 32px;
  bottom: 33px;
  color: #212121;
  font-size: 34px;
  z-index: 3; }

@media (min-width: 1px) and (max-width: 349px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 25px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    height: 250px; }
    header .timeTable {
      width: 110%; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 40px;
      line-height: 1;
      height: 90px; }
      header #time_for_event .time_words {
        font-size: 15px; }
    header .icon-wrap {
      width: 100px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      right: 17px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: static; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: static;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td {
      padding-left: 10px;
      text-align: inherit; }
      #eventDetails table tbody td:first-child {
        width: 125px;
        padding-left: 0;
        text-align: center; }
      #eventDetails table tbody td:last-child {
        padding-right: 10px;
        padding-left: 0; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th {
        padding-left: 10px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px;
    display: none;
    margin: 5px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers p {
    padding-left: 0;
    max-width: 100%; }
  #speakers .speakersBlock .logoSpeakersV {
    display: none; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static;
      margin: 5px; }
  #sponsors button {
    margin-bottom: 20px; }

  #pastEvents .container .pastEventsText div:last-child {
    max-width: 100%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2, #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    height: 266px; }
  #pastEvents .container #pastEventsImg:after {
    height: 1px; }

  .bgGrey {
    padding-bottom: 110px; }

  .bgWhite {
    padding-top: 25px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 750px; }
    #contact #contactDetails {
      grid-template-columns: 1fr;
      gap: 5px;
      padding: 10px;
      grid-template-rows: 1fr 1fr; }
      #contact #contactDetails .adres {
        grid-row: 1; }
      #contact #contactDetails form {
        grid-column: 1;
        grid-row: 2; }
        #contact #contactDetails form #inputKontaktText {
          height: 120px; }

  .goUp {
    right: 30px;
    top: 45px; }

  .icon-wrap {
    display: none; }

  h2, h3 {
    text-align: center; }

  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2, #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    width: 100%;
    clear: both; }

  footer .socIcons span {
    font-size: 23px;
    margin: 0; }

  .goUp {
    right: 0;
    top: 0px; }

  #signEvent button {
    margin-top: 0; }

  #contact #contactDetails {
    width: 100%; }

  #eventDetails table tbody td:first-child {
    width: 63px;
    padding-left: 5px;
    text-align: left; }

  .container, body, html {
    min-width: 287px; }

  header .navSmall {
    display: inline-block;
    font-size: 2rem;
    color: #ffffff; }
  header .dropDown {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-right: 22px; }
  header .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 200px;
    -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 3; }
  header .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #242424;
    line-height: 1.2; }
    header .dropdown-content a:hover {
      background-color: #f1f1d5;
      color: #90d23d;
      font-weight: 900; }
  header .dropDown:hover .dropdown-content {
    display: block;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s; } }
@media (min-width: 350px) and (max-width: 575px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 25px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    height: 250px; }
    header .timeTable {
      width: 100%; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 40px;
      line-height: 1;
      height: 90px; }
      header #time_for_event .time_words {
        font-size: 15px; }
    header .icon-wrap {
      width: 100px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      right: 17px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: static; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: static;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td {
      padding-left: 10px;
      text-align: inherit; }
      #eventDetails table tbody td:first-child {
        width: 125px;
        padding-left: 0;
        text-align: center; }
      #eventDetails table tbody td:last-child {
        padding-right: 10px;
        padding-left: 0; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th {
        padding-left: 10px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px;
    display: none;
    margin: 5px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers p {
    padding-left: 0;
    max-width: 100%; }
  #speakers .speakersBlock .logoSpeakersV {
    display: none; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static;
      margin: 5px; }
  #sponsors button {
    margin-bottom: 20px; }

  #pastEvents .container .pastEventsText div:last-child {
    max-width: 100%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2, #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    height: 266px; }
  #pastEvents .container #pastEventsImg:after {
    height: 1px; }

  .bgGrey {
    padding-bottom: 110px; }

  .bgWhite {
    padding-top: 25px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 750px; }
    #contact #contactDetails {
      grid-template-columns: 1fr;
      gap: 5px;
      padding: 10px;
      grid-template-rows: 1fr 1fr; }
      #contact #contactDetails .adres {
        grid-row: 1; }
      #contact #contactDetails form {
        grid-column: 1;
        grid-row: 2; }
        #contact #contactDetails form #inputKontaktText {
          height: 120px; }

  .goUp {
    right: 30px;
    top: 45px; }

  .icon-wrap {
    display: none; }

  h2, h3 {
    text-align: center; }

  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2, #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    width: 100%;
    clear: both; }

  footer .socIcons span {
    font-size: 26px;
    margin: 0; }

  .goUp {
    right: 0;
    top: 0px; }

  #eventDetails table tbody td:first-child {
    width: 63px;
    padding-left: 5px;
    text-align: left; }

  header .navSmall {
    display: inline-block;
    font-size: 2rem;
    color: #ffffff; }
  header .dropDown {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-right: 22px; }
  header .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 200px;
    -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 3; }
  header .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #242424;
    line-height: 1.2; }
    header .dropdown-content a:hover {
      background-color: #f1f1d5;
      color: #90d23d;
      font-weight: 900; }
  header .dropDown:hover .dropdown-content {
    display: block;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s; } }
@media screen and (min-width: 576px) and (max-width: 767px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 25px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    height: 300px; }
    header .timeTable {
      width: 80%; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 60px;
      line-height: 1;
      height: 110px; }
      header #time_for_event .time_words {
        font-size: 16px; }
    header .icon-wrap {
      width: 100px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      right: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: static; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: static;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td {
      padding-left: 10px;
      text-align: inherit; }
      #eventDetails table tbody td:first-child {
        width: 125px;
        padding-left: 0;
        text-align: center; }
      #eventDetails table tbody td:last-child {
        padding-right: 10px;
        padding-left: 0; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th {
        padding-left: 10px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px;
    display: none;
    margin: 5px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers p {
    padding-left: 0;
    max-width: 100%; }
  #speakers .speakersBlock .logoSpeakersV {
    display: none; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static;
      margin: 5px; }
  #sponsors button {
    margin-bottom: 20px; }

  #pastEvents .container .pastEventsText div:last-child {
    max-width: 100%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2, #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    height: 266px; }
  #pastEvents .container #pastEventsImg:after {
    height: 1px; }

  .bgGrey {
    padding-bottom: 110px; }

  .bgWhite {
    padding-top: 25px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 750px; }
    #contact #contactDetails {
      grid-template-columns: 1fr;
      gap: 5px;
      padding: 25px;
      grid-template-rows: 1fr 1fr; }
      #contact #contactDetails .adres {
        grid-row: 1; }
      #contact #contactDetails form {
        grid-column: 1;
        grid-row: 2; }
        #contact #contactDetails form #inputKontaktText {
          height: 120px; }

  .goUp {
    right: 30px;
    top: 45px; }

  h2, h3 {
    text-align: center; }

  .icon-wrap {
    display: none; }

  header .navSmall {
    display: inline-block;
    font-size: 2rem;
    color: #ffffff; }
  header .dropDown {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-right: 22px; }
  header .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 200px;
    -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 3; }
  header .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #242424;
    line-height: 1.2; }
    header .dropdown-content a:hover {
      background-color: #f1f1d5;
      color: #90d23d;
      font-weight: 900; }
  header .dropDown:hover .dropdown-content {
    display: block;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 25px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    height: 450px; }
    header .timeTable {
      width: 80%; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 90px;
      line-height: 1;
      height: 145px; }
      header #time_for_event .time_words {
        font-size: 16px; }
    header .icon-wrap {
      width: 100px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: static; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: absolute;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td {
      padding-left: 10px;
      text-align: inherit; }
      #eventDetails table tbody td:first-child {
        width: 125px;
        padding-left: 0;
        text-align: center; }
      #eventDetails table tbody td:last-child {
        padding-right: 10px;
        padding-left: 0; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th {
        padding-left: 10px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 150px;
    bottom: 50px;
    display: static;
    margin: 5px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers p {
    padding-left: 0;
    max-width: 100%; }
  #speakers .speakersBlock .logoSpeakersV {
    display: none; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static;
      margin: 5px; }
  #sponsors button {
    margin-bottom: 20px; }

  #pastEvents .container .pastEventsText div:last-child {
    max-width: 100%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2, #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    height: 266px; }
  #pastEvents .container #pastEventsImg:after {
    height: 1px; }

  .bgGrey {
    padding-bottom: 110px; }

  .bgWhite {
    padding-top: 25px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 660px; }
    #contact #contactDetails {
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      padding: 25px;
      grid-template-rows: 1fr; }
      #contact #contactDetails .adres {
        grid-row: 1; }
      #contact #contactDetails form {
        grid-column: 2;
        grid-row: 1; }
        #contact #contactDetails form #inputKontaktText {
          height: 250px; }

  .goUp {
    right: 30px;
    top: 45px; } }
@media (min-width: 992px) and (max-width: 1199.99px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 25px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    height: 500px; }
    header .timeTable {
      width: 80%; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 100px;
      line-height: 1;
      height: 155px; }
      header #time_for_event .time_words {
        font-size: 16px; }
    header .icon-wrap {
      width: 100px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      right: -19px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: static; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: absolute;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td {
      padding-left: 10px;
      text-align: inherit; }
      #eventDetails table tbody td:first-child {
        width: 125px;
        padding-left: 0;
        text-align: center; }
      #eventDetails table tbody td:last-child {
        padding-right: 10px;
        padding-left: 0; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th {
        padding-left: 10px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px;
    display: static;
    margin: 5px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers p {
    padding-left: 0;
    max-width: 100%; }
  #speakers .speakersBlock .logoSpeakersV {
    display: static; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static;
      margin: 5px; }
  #sponsors button {
    margin-bottom: 20px; }

  #pastEvents .container .pastEventsText div:last-child {
    max-width: 100%; }
  #pastEvents .container #pastEventsImg .pastEventsImgN1, #pastEvents .container #pastEventsImg .pastEventsImgN2, #pastEvents .container #pastEventsImg .pastEventsImgN3, #pastEvents .container #pastEventsImg .pastEventsImgN4 {
    height: 266px; }
  #pastEvents .container #pastEventsImg:after {
    height: 1px; }

  .bgGrey {
    padding-bottom: 110px; }

  .bgWhite {
    padding-top: 25px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 660px; }
    #contact #contactDetails {
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      padding: 25px;
      grid-template-rows: 1fr; }
      #contact #contactDetails .adres {
        grid-row: 1; }
      #contact #contactDetails form {
        grid-column: 2;
        grid-row: 1; }
        #contact #contactDetails form #inputKontaktText {
          height: 250px; }

  .goUp {
    right: 30px;
    top: 45px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }

  #pastEvents .container {
    padding-left: 0;
    padding-right: 0; } }
.displayNone {
  display: none !important; }

/*# sourceMappingURL=style.css.map */